.chartContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 28px 40px 28px 24px;
  // height: 100%;
  overflow: hidden;
  background-color: #F9F9F9;

  .chartTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    >div {
      display: flex;
      align-items: center;

    }

    .chartTopLeft {

      >button,
      >input {
        margin-right: 8px;
      }
    }

    .chartTopRight {

      >button,
      >input {
        margin-left: 8px;
      }

      >button {
        margin-right: 8px;
      }

      .chartTab {
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 4px;
        list-style: none;
        height: 100%;
        margin-left: 8px;

        >li {
          // flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          list-style: none;
          padding: 0 12px;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0.03em;
          color: #000000;
          cursor: pointer;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

          &.active,
          &:hover {
            background: #FFFFFF;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
            border-radius: 2px;
          }
        }
      }
    }
  }

  .chartBox {
    flex: 1;
    position: relative;

    .member {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 26px;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      z-index: 999;
      background: rgba(245, 245, 245, 0.8);
      border: 1px solid #C5C5C5;
      box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.76);
      backdrop-filter: blur(48px);

      .memberTitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 45px;
        display: flex;
        align-items: center;
        color: #000000;
        // -webkit-text-stroke: 2px #FFFFFF;
        text-shadow: -2px 2px 0 #ffffff, 2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff;
      }

      .memberText {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #000000;
        margin: 14px 0 20px;
      }
    }
  }
}