@function px2Rem($px, $base-font-size: 19.2px) {
    @if (unitless($px)) {
        //有无单位 
        @return ($px / 19.2) * 1rem;
    }

    @else if (unit($px)==em) {
        @return $px;
    }

    @return ($px / $base-font-size) * 1rem;
}

@import "~rfs/scss";

.quickEntry {
    background: #000000;
    padding: 9px 40px 9px;
    color: #FFFFFF;

    .quickContainer1,
    .quickContainer2,
    .quickContainer3,
    .quickContainer4 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .partOne {
            display: flex;
            justify-content: flex-start;
            max-width: 231px;

            &::after {
                content: ' ';
                height: 144.54px;
                width: 1px;
                border: 1px solid #F6CD45;
                transform: scaleX(0.5);
                // margin: 10px 22px 0;
                @include margin-top(10px);
                @include margin-left(22px);
                @include margin-right(22px);
            }

            .content {
                display: flex;
                flex-direction: column;

                .partOneTop {
                    font-weight: 400;
                    @include font-size(14px);
                    line-height: 20px;
                    letter-spacing: 0.012em;
                    color: rgba(255, 255, 255, 0.6);
                    // margin-bottom: 14px;
                    @include margin-bottom(14px);
                }

                .partOneCenter {
                    color: #F6CD45;
                    @include font-size(32px);
                    line-height: 135.64%;
                    letter-spacing: 0.012em;
                    text-transform: uppercase;
                    transform: matrix(0.99, 0, -0.17, 1, 0, 0);
                    display: flex;
                    flex-direction: column;
                    font-weight: 600;

                    &::after {
                        display: inline-block;
                        content: ' ';
                        width: 137px;
                        height: 10px;
                        background: url('../../assets/img/yellow-line-long.svg') no-repeat;
                        margin-bottom: 5px;
                        @include margin-bottom(5px);

                    }
                }

                .partOneFooter {
                    @include font-size(20px);
                    line-height: 28px;
                    letter-spacing: 0.012em;
                }
            }
        }

        .partTwo {
            display: flex;
            flex-wrap: wrap;
            flex:1;

            .cicle {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 86px;
                height: 84px;
                background: url('../../assets/img/quick-yellow-cicle.svg') no-repeat;
                // &:not(:last-child){
                // margin-right: 22px;
                @include margin-right(22px);

                cursor: pointer;
                // }

            }
        }

        .partThree {
            display: flex;
            flex-wrap: wrap;

            button {
                width: 136px;
                height: 48px;
                // @include width(136px);
                // @include height(48px);
                overflow: hidden;
                // margin-right: 11.4px;
                @include margin-right(11.4px);

                outline: none;
                background: rgba(255, 255, 255, 0.16);
                border: 1px solid rgba(0, 0, 0, 0.04);
                border-radius: 4px;
                color: #FFFFFF;
                box-sizing: border-box;
                // padding: 8px 11px;
                @include padding-top(8px);
                @include padding-right(11px);
                @include padding-bottom(8px);
                @include padding-left(11px);
                // margin-bottom: 14.6px;
                @include margin-bottom(14.6px);

            }
        }
    }

    .quickContainer2,
    .quickContainer3,
    .quickContainer4 {
        .partOne {
            // margin-right: 89px;
            @include margin-right(89px);

            .content {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &::after {
                content: none;
            }
        }

        .partTwo,
        .partTwo4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin-top: 55px;
            @include margin-top(55px);

            .top {
                display: flex;
                align-items: center;
                @include font-size(20px);
                line-height: 135.64%;
                font-style: normal;
                font-weight: 400;
                // margin-bottom: 30px;
                @include margin-bottom(30px);

                span {
                    // margin-right: 65px;
                    @include margin-right(30px);

                    display: flex;
                    align-items: center;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url('../../assets/img/frame.svg') no-repeat;
                        // margin-right: 10px;
                        @include margin-right(10px);

                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba(255, 255, 255, 0.6);
                    border-radius: 2px;
                    border: 1px dashed rgba(255, 255, 255, 0.3);
                    // padding: 0px 10px;
                    @include padding-left(10px);
                    @include padding-right(10px);

                    width: 80px;
                    height: 38px;
                    background: none;
                }
            }

            .bottom {
                // margin-bottom: 13px;
                @include margin-bottom(13px);


                span {
                    font-weight: 400;
                    @include font-size(16px);
                    line-height: 135.64%;
                    color: rgba(255, 255, 255, 0.6);
                    // margin-right: 20px;
                    @include margin-right(20px);

                    width: 96px;
                    height: 22px;
                    overflow: hidden;
                    // margin-bottom: 26px;
                    @include margin-bottom(26px);

                    display: inline-flex;
                    align-items: center;

                    &::after {
                        display: inline-block;
                        content: " ";
                        width: 1px;
                        height: 15.33px;
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        transform: scaleX(0.5);
                        // margin-left: 20px;
                        @include margin-left(20px);
                    }
                }
            }
        }

        .partTwo4 {
            flex-direction: row;
            // margin: 26px 0 36px;
            @include margin-top(26px);
            @include margin-bottom(36px);

            .container {
                display: flex;
                align-items: center;
                &:not(:last-child){
                    &::after {
                        content: '';
                        background: url('../../assets/img/yellow-gradient.svg') no-repeat;
                        display: inline-block;
                        height: 30.5px;
                        width: 1px;
                        // margin: 0 75px;
                        @include margin-left(20px);
                        @include margin-right(20px);
    
                    }

                }

                .box {
                    .title {
                        font-weight: 400;
                        @include font-size(20px);
                        line-height: 135.64%;
                        letter-spacing: 0.012em;
                        // margin-bottom: 12px;
                        @include margin-bottom(12px);
                    }

                    span {
                        display: inline-block;
                        font-weight: 400;
                        @include font-size(14px);
                        line-height: 135.64%;
                        // padding: 4px;
                        @include padding-top(4px);
                        @include padding-right(4px);
                        @include padding-bottom(4px);
                        @include padding-left(4px);

                        letter-spacing: 0.012em;
                        background: rgba(255, 255, 255, 0.2);
                        // margin-right: 8px;
                        // margin-bottom: 8px;
                        @include margin-right(8px);
                        @include margin-bottom(8px);
                    }

                    button {
                        font-weight: 400;
                        @include font-size(12px);
                        line-height: 135.64%;
                        letter-spacing: 0.012em;
                        color: #F6CD45;
                        // padding: 2px;
                        @include padding-top(2px);
                        @include padding-right(2px);
                        @include padding-bottom(2px);
                        @include padding-left(2px);
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 1px;

                    }
                }
            }
        }

        .partThree {
            position: relative;
            flex-wrap: nowrap;
            // padding-top: 40.47px;
            @include padding-top(40.47px);
            overflow: hidden;

            // width: 680px;
            // margin: 0 0px 0 54px;

            &::before {
                display: inline-block;
                content: " ";
                width: 1px;
                height: 156.13px;
                border: 1px dashed rgba(255, 255, 255, 0.3);
                transform: scaleX(0.5);
                margin: 0 55px 0 0;

            }

            .container3 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left {
                    margin-right: 60px;
                }
            }

            .top,
            .top2 {
                text-align: center;
                margin-bottom: 20.53px;
                // padding-left: 166px;

                .title,
                .title3 {
                    margin-right: 14px;
                    font-weight: 400;
                    @include font-size(16px);
                    line-height: 22px;
                    color: #FFFFFF;
                }

                .title3 {
                    color: #F6CD45;
                    margin-right: 0;
                }


                .person {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: #E05353;
                    border-radius: 2px;
                    font-weight: 400;
                    @include font-size(12px);
                    line-height: 130%;
                    letter-spacing: 0.03em;
                    // padding: 2px 4px;
                    @include padding-top(2px);
                    @include padding-bottom(2px);
                    @include padding-left(4px);
                    @include padding-right(4px);

                }
            }

            .top2 {
                // padding-left: 166px;
                @include padding-left(166px);
            }

            .bottom,
            .bottom3 {
                position: relative;
                display: flex;
                // width: 556px;
                align-items: center;
                height: 129px;
                background: #1C1B1B;
                // padding-left: 175px;
                @include padding-left(175px);

                ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    max-height: 110px;

                    li {

                        width: 167.68px;
                        height: 21px;
                        color: rgba(255, 255, 255, 0.6);
                        margin-bottom: 14px;
                        @include font-size(14px);
                        line-height: 20px;
                    }
                }

                .img,
                .im3 {
                    position: absolute;
                    left: 20.98px;
                    bottom: 17.56px;
                    width: 128px;
                    height: 185px;
                    margin-right: 60px;
                    background: url("../../assets/img/download2.svg") no-repeat;
                }

            }

            .bottom3 {
                // padding-left: 0;
                @include padding-left(0);
                background: none;

                ul {
                    padding-inline-start: 0;

                    li {

                        // width: auto
                    }
                }
            }
        }
    }

    .quickContainer4 {
        justify-content: flex-start;
    }
}